#h1index {color: aquamarine;}
body {background-image: linear-gradient(to right , #41295a, #2F0743);}
body {font-family:"Roboto Serif", "6system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"}
body {
  font-weight: 200px;
  margin: 0;
}
a {font-size: 9px;}
a {font-size: 1.0rem;}
a {text-decoration: none;}
footer {
  border-top-style: solid;
  backdrop-filter:blur(10px);
  border-color:aliceblue;
  border-width: 1px;
  position:absolute;
  bottom: 0px;
  margin: 0;
  align-self: center;
}
#header {
  position:relative;
  top: 0;
  z-index:999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#header img {
  width: 100px;
  height: auto;
}
#headername {
  margin-left: -50px;
  color: white;
}
#headerimg {
  margin-left: -50px;
}
