#h1index {color: aquamarine;}
body {background-image: url(wallpaper2.jpg)}
body {font-family:"Roboto Serif", "6system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"}
body {font-weight: 400;}
a {font-size: 16px;}
a {font-size: 1.5rem;}
footer {
  border-style: solid;
  backdrop-filter:blur(10px);
  border-color:aliceblue;
  position:fixed;
  bottom: 0px;
  border-radius: 10px;
}
header {
  position: relative;
  top: 20px;
}
#divfotfooter1 {
  border-style: solid;
  border: 10px;
  border-color: blue;
}